  .top-bar .top-bar-inner{
    }
  .middle-section-header .middle-section-inner{
          padding-top: 0px;
    }
.bottom-section-header{
  background-color: rgba(4,30,66,1) !important;
}
.bottom-section-header .bottom-section-inner{
  background-color: rgba(4,30,66,1) !important;
}
.bottom-section-header,
.bottom-section-header a,
.bottom-section-header .logo-text,
.bottom-section-header .logo-text a,
.bottom-section-header .icon-graphic > li .info-title,
.bottom-section-header .icon-graphic > li .info-label,
.bottom-section-header .module-menu .menu-item,
.bottom-section-header .module-menu .menu-item > a,
.bottom-section-header .module-menu > .menu-item > a
{
  color: #ffffff;
}
.bottom-section-header .bottom-section-inner{
  border-top:0;border-right:0;border-bottom:0;border-left:0;border-style:solid;border-color:;
}
  .main-menu > .page_item > a,
  .main-menu > .menu-item > a{
    color:#ffffff;border-top:0;border-right:0;border-bottom:0;border-left:0;border-style:solid;border-color:;
}
.main-menu .page_item:hover > a,
.main-menu .menu-item:hover > a
{
  color:#1e73be;
}
.main-menu .page_item.current-menu-item > a,
.main-menu .menu-item.current-menu-item > a,
.main-menu .page_item.current-menu-parent > a,
.main-menu .menu-item.current-menu-parent > a,
.main-menu .page_item.current_page_item > a,
.main-menu .menu-item.current_page_item > a,
.main-menu .page_item.current_page_parent > a,
.main-menu .menu-item.current_page_parent > a{
  color: #dd3333;
}
.main-menu .sub-menu .page_item:hover > a,
.main-menu .sub-menu .menu-item:hover > a,
.main-menu .sub-menu .page_item:focus > a,
.main-menu .sub-menu .menu-item:focus > a {
  color: #000000;
}
.main-menu .sub-menu .page_item.current_page_item > a,
.main-menu .sub-menu .menu-item.current_page_item > a,
.main-menu .sub-menu .page_item.current_page_parent > a,
.main-menu .sub-menu .menu-item.current_page_parent > a {
 color: #000000;
}
  @media (max-width: 768px){

.navigation-bar,
.navigation-bar a,
.navigation-bar .logo-text,
.navigation-bar .logo-text a,
.navigation-bar .icon-graphic > li .info-title,
.navigation-bar .icon-graphic > li .info-label,
.main-menu > .page_item > a,
.main-menu > .menu-item > a,
.main-menu .sub-menu .menu-item > a,
.main-menu .sub-menu .page_item > a,
.navigation-bar.affix,
.navigation-bar.affix a,
.navigation-bar.affix .logo-text,
.navigation-bar.affix .logo-text a,
.navigation-bar.affix .icon-graphic > li .info-title,
.navigation-bar.affix .icon-graphic > li .info-label,
.navigation-bar.affix .module-menu .menu-item,
.navigation-bar.affix .module-menu .menu-item > a,
.navigation-bar.affix .module-menu > .menu-item > a

{
  color: #222222;
}
 .main-menu .page_item:hover > a,
.main-menu .menu-item:hover > a,
.main-menu .sub-menu .page_item:hover > a,
.main-menu .sub-menu .menu-item:hover > a,
.main-menu .sub-menu .page_item:focus > a,
.main-menu .sub-menu .menu-item:focus > a{
  color: #041e42;
}
.main-menu .sub-menu .menu-item.current_page_parent > a,
.main-menu .sub-menu .page_item.current_page_item > a,
.main-menu .sub-menu .menu-item.current_page_item > a,
.main-menu .sub-menu .page_item.current_page_parent > a,
.main-menu .sub-menu .menu-item.current_page_parent > a  {
    color: #46c2ca;
}

  }
  .navigation-bar .navigation-bar-inner,
  .navigation-bar.affix .navigation-bar-inner{
    }
